{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<html>
    <head><link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>rosamund learns to code</title>
    </head>
    <body>
      <div>
            <h1>rosamund learns to code</h1>
      </div>

          <div>
            this blog is still in construction! feel free to come back later.
            <br>
            or, if you know me, give me a nudge to get back to work on it.
          </div>

</html>
